<div class="container footer" fxLayout="column" fxLayoutAlign="center center"
    fxLayoutGap="10px">

    <div fxFlex="100" fxLayout="row" fxFlexOffset="20px">
        <h4>Links</h4>
        <mat-list fxFlex fxLayout="row">
            <mat-list-item><a mat-button routerLink="/home">Home</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/aboutus">About</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/menu">Menu</a></mat-list-item>
            <mat-list-item><a mat-button routerLink="/contactus">Contact</a></mat-list-item>
        </mat-list>
    </div>                

    <div>
        <p>© Copyright 2018 Ristorante Con Fusion</p>
    </div>
</div>