$lt-gray: #ddd;
$background-dark: #aa0000;
$background-light: #ee0000;
$background-pale: #ee5555;

@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.footer{
    background-color: $background-pale;
    @include zero-margin(20px, 0px);
}

.mat-list-item {
    float: right;
}